.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 100%; /* Ensure the container takes full width */
    max-width: 100%; /* Ensure the container respects parent width */
}

.work img {
    width: 100%; /* Adjusted to fill the entire container */
    height: auto; /* Ensures aspect ratio is maintained */
    display: block;
    transition: transform 0.5s;
    object-fit: cover; /* Ensures the image covers the container */
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #c40ca2);
    color: white;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}
