.home-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100vh;
  padding: 0 10%;

  .text-zone {
    position: relative;
    left: 0;
    top: auto;
    transform: none;
    max-height: 90%;
    cursor: pointer;
    flex: 1;

    h1 {
      color: white;
      font-size: 53px;
      margin: 0;
      font-family: 'Coolvetica';
      font-weight: 400;

      &::before {
        content: '<h1>';
        font-family: 'La Belle Aurore';
        color: yellow;
        font-size: 18px;
        position: absolute;
        margin-top: -40px;
        left: 15px;
        opacity: 0.6;
      }
      &::after {
        content: '<h1/>';
        font-family: 'La Belle Aurore';
        color: yellow;
        font-size: 18px;
        position: absolute;
        margin-top: 18px;
        margin-left: 20px;
        animation: fadeIn 1s 1.7s backwards;
        opacity: 0.6;
      }
    }

    h2 {
      color: #e8b3b3;
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 11px;
      font-family: sans-serif;
      letter-spacing: 3px;
      animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button {
      color: yellow;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 4px;
      font-family: sans-serif;
      text-decoration: none;
      padding: 10px 18px;
      border: 1px solid yellow;
      margin-top: 45px;
      white-space: nowrap;

      &:hover {
        background: rgb(207, 210, 21);
        color: black;
      }

      &.glow {
        border: 1px solid rgb(213, 228, 71);
        animation: glow 1.5s infinite alternate ;
      }
    }
  }
  @keyframes glow {
    0% {
      border-color: yellow;
    }
    100% {
      border-color: rgb(5, 84, 90);
      box-shadow: 0 0 10px rgb(211, 8, 238), 0 0 10px rgb(211, 8, 238), 0 0 10px rgb(211, 8, 238);
    }
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, -0px); /* Ensure it returns to the starting position */
  }
}

.image-zone {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
}

.image-zone img {
  width: 150%; /* Ensure the image takes the full width of the container */
  height: auto; /* Maintain the aspect ratio */
  margin-right: 20%;
 
  transform: scale(1.2); /* Scale the image to make it larger */
  animation: floating 3s ease-in-out infinite; /* Apply the floating animation */
};
